body {
  margin: 0;
  padding-bottom: 24px;
}
html {
  background-color: #eee;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
button, label {
  cursor: pointer;
}
.app {
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .app {
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  .app {
    padding: 0 16px;
  }
}
