.redact {
  display: flex;
}
.redact > *:not(:last-child) {
  margin-right: 16px;
  width: 70%;
}
@media (max-width: 1024px) {
  .redact {
    flex-direction: column;
  }
  .redact > *:not(:last-child) {
    width: 100%;
    margin-bottom: 16px;
  }
}
.redact__timeoutSettings {
  display: none;
}
.redact__timeoutSettings--visible {
  display: block;
}
.redact__result--success {
  color: green;
  margin-bottom: 16px;
  display: none;
}
.redact__result--error {
  color: red;
  margin-bottom: 16px;
  display: none;
}
.redact__title, .redact__text {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.redact__text {
  min-height: 200px;
}
.redact__add {
  margin-top: 16px;
}
